@import "seattletimes";

body {
  font-family: @df-sans;
  font-size: 16px;
  max-width: 630px;
  position: relative;
  margin: auto;
}

.outer {
  border-top: 1px solid @df-border-gray;
  border-bottom: 1px solid @df-border-gray;
  margin: 20px 0;
  padding: 20px 0;
}

.title {
  font-weight: bold;
  font-size: 22px;
}
.chatter {
  font-family: @df-serif;
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 10px;
}

.radio {
  font-size: 14px;
  margin-right: 5px;
}

.pick {
  font-style: italic;
  margin-top: 10px;
  font-size: 12px;
  color: @df-middle-gray;
}

.dropdown {
  margin-bottom: 20px;
}

.name {
  font-family: @df-serif;
  font-weight: bold;
  margin-bottom: 2px;
}
.district {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 2px;
}
.total {
  font-size: 13px;
}

.breakdown {
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 8.5px;
  letter-spacing: 0.1em;
  color: @df-middle-gray;
  font-weight: bold;

  .bar {
    display: inline-block;
    background: #7b5aa6;
    height: 14px;
    margin-top: 2px;
    transition: width 0.6s ease-in-out;
  }
  .percent {
    font-weight: 400;
    font-size: 11px;
    vertical-align: top;
    margin-top: 2px;
    margin-left: 4px;
    margin-bottom: 12px;
    display: inline-block;

    &.zero {
      margin-left: 0;
    }
  }
}

.index-scale {
  position: relative;
}

.bucket {
  height: 5px;
  width: 20%;
  display: inline-block;
}

.dot {
  height: 15px;
  width: 15px;
  position: absolute;
  background: #7b5aa6;
  border-radius: 50%;
  opacity: 0.1;
}

.median, .current {
  position: absolute;
  top: 0;
  height: 30px;
  border-left: 1px dotted black;
  transition: left 0.6s ease-in-out;
  vertical-align: bottom;
  padding-top: 20px;
  font-size: 12px;
}
.current {
  font-size: 28px;
  font-weight: bold;
  border-left: 2px solid black;
}

.card {
  padding: 20px 25px;
  background: @df-off-white;
  border: 1px solid @df-border-gray;
}

.source {
  padding-top: 16px;
  font-style: italic;
}
.source, .credit {
  text-align: right;
  font-size: 11px;
  color: rgba(0,0,0,.4);
}