<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
    <style>
      [ng-cloak] {
      display: none;
      }
    </style>
  </head>
  <body ng-app="school-diversity">

    <responsive-child>
      <div class="outer" ng-cloak ng-controller="diversityController">
        <div class="title">How racially diverse is your school?</div>
        <div class="chatter">
          This tool ranks public schools* in King and Snohomish counties by &ldquo;diversity index&rdquo; &mdash; a calculation used here to measure, on a scale from 0 to 100, the probability that two randomly chosen students are of a different race.
          <div class="note">*Includes schools with at least 25 students.</div>
        </div>

        <div class="input"><input ng-model="level" type="radio" name="level" value="all" id="all"> <label class="radio" for="all">All</label></div>
        <div class="input"><input ng-model="level" type="radio" name="level" value="elementary" id="elementary"> <label class="radio" for="elementary">Elementary</label></div>
        <div class="input"><input ng-model="level" type="radio" name="level" value="middle" id="middle"> <label class="radio" for="middle">Middle school</label></div>
        <div class="input"><input ng-model="level" type="radio" name="level" value="high" id="high"> <label class="radio" for="high">High school</label></div>
        <div class="input"><input ng-model="level" type="radio" name="level" value="other" id="other"> <label class="radio" for="other">Other</label></div>

        <div class="pick">Select a district:</div>

        <div class="dropdown">
          <select ng-model="selectedDistrict" ng-options="s for s in districtsShown"></select>
        </div>


        

        <div class="card">
          <div class="pick">Select a school:</div>

          <div class="dropdown">
            <select ng-model="selectedSchool" ng-options="s['School Name'] for s in shown"></select>
          </div>
          <div class="name">
            {{selectedSchool["School Name"]}}
          </div>
          <div class="district">
            {{selectedSchool["District Name"]}}
          </div>
          <div class="total">
            {{selectedSchool["TOTAL"]}} students
          </div>
          <div class="index">
            Diversity index: <span class="big">{{selectedSchool["INDEX"]}}</span>
          </div>

          <div class="index-container">
            <div class="right index-axis">0</div>
            <div class="index-scale">
              <div class="dot" ng-repeat="s in shown" ng-style="{left: s['INDEX'] + '%'}"></div>
              <!-- <div class="bucket" ng-repeat="b in buckets" style="background: {{b.color}}"></div> -->
              <!-- <div class="median-dot dot" style="left: {{median}}%"></div> -->
              <div class="median" ng-style="{left: median + '%'}">
                <div class="median-label"><em>Median:</em> {{median}}</div>
              </div>
              <div class="current-dot dot" ng-style="{left: selectedSchool['INDEX'] + '%'}"></div>
              <!-- <div class="current" style="left: {{selectedSchool['INDEX']}}%"> -->
                <!-- <div class="strong">{{selectedSchool['INDEX']}}</div> -->
              <!-- </div> -->
            </div>
            <div class="left index-axis">100</div>
          </div>

          <div class="breakdown">
            White 
            <div>
              <div class="bar" ng-class="{thin: selectedSchool['WhitePerc'] == '0.0%'}" ng-style="{width: selectedSchool['WhitePerc'], background: '#2384c6'}"></div><div ng-if="selectedSchool['WhitePerc'] !== '0.0%'" class="percent">{{selectedSchool['WhitePerc']}}</div>
              <div class="zero percent" ng-if="selectedSchool['WhitePerc'] == '0.0%'">--</div>
            </div>
            Asian 
            <div>
              <div class="bar" ng-class="{thin: selectedSchool['AsianPerc'] == '0.0%'}" ng-style="{width: selectedSchool['AsianPerc'], background: '#da2128'}"></div><div ng-if="selectedSchool['AsianPerc'] !== '0.0%'" class="percent">{{selectedSchool['AsianPerc']}}</div>
              <div class="zero percent" ng-if="selectedSchool['AsianPerc'] == '0.0%'">--</div>
            </div>
            Hispanic / Latino 
            <div>
              <div class="bar" ng-class="{thin: selectedSchool['HispanicPerc'] == '0.0%'}" ng-style="{width: selectedSchool['HispanicPerc'], background: '#f36f21'}"></div><div ng-if="selectedSchool['HispanicPerc'] !== '0.0%'" class="percent">{{selectedSchool['HispanicPerc']}}</div>
              <div class="zero percent" ng-if="selectedSchool['HispanicPerc'] == '0.0%'">--</div>
            </div>
            Black 
            <div>
              <div class="bar" ng-class="{thin: selectedSchool['BlackPerc'] == '0.0%'}" ng-style="{width: selectedSchool['BlackPerc'], background: '#2a9964'}"></div><div ng-if="selectedSchool['BlackPerc'] !== '0.0%'" class="percent">{{selectedSchool['BlackPerc']}}</div>
              <div class="zero percent" ng-if="selectedSchool['BlackPerc'] == '0.0%'">--</div>
            </div>
            Two or more races 
            <div>
              <div class="bar" ng-class="{thin: selectedSchool['2+Perc'] == '0.0%'}" ng-style="{width: selectedSchool['2+Perc'], background: '#7b5aa6'}"></div><div ng-if="selectedSchool['2+Perc'] !== '0.0%'" class="percent">{{selectedSchool['2+Perc']}}</div>
              <div class="zero percent" ng-if="selectedSchool['2+Perc'] == '0.0%'">--</div>
            </div>
            Native American 
            <div>
              <div class="bar" ng-class="{thin: selectedSchool['NativePerc'] == '0.0%'}" ng-style="{width: selectedSchool['NativePerc'], background: '#fecd5b'}"></div><div ng-if="selectedSchool['NativePerc'] !== '0.0%'" class="percent">{{selectedSchool['NativePerc']}}</div>
              <div class="zero percent" ng-if="selectedSchool['NativePerc'] == '0.0%'">--</div>
            </div>
            Pacific Islander 
            <div>
              <div class="bar" ng-class="{thin: selectedSchool['PIPerc'] == '0.0%'}" ng-style="{width: selectedSchool['PIPerc'], background: '#4abe9d'}"></div><div ng-if="selectedSchool['PIPerc'] !== '0.0%'" class="percent">{{selectedSchool['PIPerc']}}</div>
              <div class="zero percent" ng-if="selectedSchool['PIPerc'] == '0.0%'">--</div>
            </div>
          </div>
        </div>

        <div class="source">Source: Office of Superintendent of Public Instruction, 2015-16</div>
        <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>

      </div>
    </responsive-child>

    <script>
      var districtData = <%= JSON.stringify(csv.school_diversity) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
